.container{
    padding: 0px 40px;
    margin: 0px auto;
    max-width: 1100px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    display: flex;
    position: fixed;
    top:0; left: 0; right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 100vw;
    
    z-index: 1000;
    box-shadow: 2px;
}
.navbar span{
    background-color: black;
}
.brand-img img{
  width: 80px;
  margin: 5px;
  margin-left: 50%;
  
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-links li {
  display: inline-block;
  text-align: center;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  width: 120px;
  padding: 1rem;
  margin-right: 1rem;
}
.navbar-links .btn1{
  border: 2px solid green;
  width: 120px;
  margin-right: 1rem;
  background-color: green;
  color: white;
  font-weight: bold;
}
.navbar-links .btn1 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-links li a.active,
.navbar-links li a:hover {
  color: green;
}

.navbar-links li:hover {
  /* background-color: yellow; */
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}

/* team */
.team{
    width: 100%;
    background-color: rgb(90,120,91);
}

.team h2{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    padding-top: 70px;
    text-align: center;
    margin: 15px 0px;
}

.team p{
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.team .card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    padding-bottom: 15px;
}

.team .card .h3{
  color: black;
}

.team .card .card9 .img1{
  background: url('image/rohit.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.team .card .card10 .img2{
  background: url('image/divansh');
  background-size: cover;
  border-radius: 15px;
}

.team .card .card11 .img3{
  background: url('image/aditya rai.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.team .card .card12 .img4{
  background: url('image/kratika.png');
  background-size: cover;
  border-radius: 15px;
}

.team .card .card5 .img5{
  background: url('image/yash.png');
  background-size: cover;
  border-radius: 15px;
}

.team .card .card6 .img6{
  background: url('image/pooja.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.team .card .card7 .img7{
  background: url('image/ME.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.team .card .card1 .img9{
  background: url('image/parijit.png');
  background-size: cover;
  border-radius: 15px;
}

.team .card .card8 .img8{
  background: url('image/samarth');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

 .team .card .card1{ 
  width: 247px;
  height:336px;
  background: #fff;
  display: grid;
  grid-template-rows: 80% 20%;
  justify-self: center;
  border-radius: 15px;
  grid-column: 1/-1;
  grid-row: 1/2
}

 .team .card .card5, .team .card .card6, .team .card .card7,
 .team .card .card8, .team .card .card9, .team .card .card10, .team .card .card11, .team .card .card12{
    width: 247px;
    height:336px;
    background: #fff;
    display: grid;
    grid-template-rows: 80% 20%;
    justify-self: center;
    border-radius: 15px;
}
.team .card h3{
    margin: 10px 0px;
    text-align: center;
}
/* footer */
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
.copyright {
  padding: 1vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media(max-width:980px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.navbar-links ul li {
    text-align: center;
    
    width: 100%;
}
.navbar-links ul .btn {
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.navbar-links ul li a {
    padding: .5rem 1rem;
    width: 100%;
}
.navbar-links ul .btn1 a {
    padding: .5rem 1rem;
    width: 100%;
}

.navbar-links.active {
    display: flex;
}

.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}

@media(max-width: 1066px){
  .team .card{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 25px;
  }
}

@media(max-width: 586px){
  .team .card .card1, .team .card .card5, .team .card .card6,
  .team .card .card7, .team .card .card8, .team .card .card9,
  .team .card .card10, .team .card .card11, .team .card .card12{
    width: 233px;
    height: 309px;
  }

  .team .card h3 {
    margin: 5px 0px;
  }
}

@media(max-width: 563px){
  .team .card .card1, .team .card .card5, .team .card .card6,
  .team .card .card7, .team .card .card8, .team .card .card9,
  .team .card .card10, .team .card .card11, .team .card .card12{
    width: 208px;
    height: 278px;
  }

  .team .card h3{
    font-size: 16px;
  }
}

@media(max-width: 492px){
  .team .card .card1, .team .card .card5, .team .card .card6,
  .team .card .card7, .team .card .card8, .team .card .card9,
  .team .card .card10, .team .card .card11, .team .card .card12{
    width: 177px;
    height: 249px;
  }

  .team .card h3{
    font-size: 14px;
  }
}